.deps
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
date-sh
depcomp
gram.c
gram.h
install-sh
lex.c
missing
nickle.1
stamp-h1
version-sh
nickle-[1-9].*
nickle_[1-9].*
